@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-blue-50: 239 246 255;
    --brand-blue-100: 219 234 254;
    --brand-blue-600: 37 99 235;
    --brand-blue-700: 29 78 216;
    --brand-blue-900: 30 58 138;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
    scrollbar-gutter: stable;
  }
}
